/* Dashboard.module.css */

.Dashboard-dashboardWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Dashboard-header {
  background-color: #137cec;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.Dashboard-topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Dashboard-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.Dashboard-logo img {
  height: 100%; /* Adjust height as needed */
  max-width: 53%; /* Ensure image does not exceed container */
  object-fit: contain; /* Preserve aspect ratio */
  margin-right: 10px; /* Optional: Adjust spacing */
}

.Dashboard-userInfo {
  font-size: 24px;
}

.Dashboard-dashboardContainer {
  display: flex;
  flex: 1;
}

.Dashboard-mainContent {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* Make space for the navbar */
}
