/* Login.module.css */

.loginWrapper {
  font-family: 'Arial', sans-serif;
  background-color: #003a80;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginContainer {
  display: flex;
  width: 1200px;
  max-width: 1300px;
  height: 550px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.loginLeftSide {
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginRightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.loginBox {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.loginBox h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.loginFormGroup {
  margin-bottom: 20px;
}

.loginFormGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.loginInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.loginButton {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #0063ce;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056d3;
}

.loginImage {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 10px;
}
