.projects-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects-header {
  background-color: #137cec;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.projects-topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.projects-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.projects-logoImg {
  height: 110px;
  max-width: 53%;
  object-fit: contain;
  margin-right: 10px;
}

.projects-userInfo {
  font-size: 24px;
}

.projects-mainContent {
  display: flex;
  flex: 1;
}

.projects-content {
  flex: 1;
  margin-left: 220px;
  padding: 20px;
}

.projects-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.projects-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #137cec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projects-button:hover {
  background-color: #0056b3;
}

.projects-search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
}

.projects-table th,
.projects-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.projects-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.projects-table tr:hover {
  background-color: #f1f1f1;
}

.projects-form {
  margin-bottom: 20px;
}

.projects-form input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.projects-table input[type="checkbox"] {
  cursor: pointer;
}



.projects-form {
  margin-bottom: 20px;
}

.projects-form input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.projects-table input[type="checkbox"] {
  cursor: pointer;
}


